@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("https://easy-ui.netlify.app/library.css");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary:#121212;
  --secondary:#eeeeee;
  --tertiary:#aaaaa0;
  --active-color:#1DA1F2;
}

body{
 background:var(--primary);
 font-family: 'Montserrat', sans-serif;
}

.header{
  width: 100%;
  background:var(--primary);
  color:var(--secondary);
  display: flex;
  justify-content:space-around;
  align-items: center;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  padding:0.8rem 0;
}

.header .header__link{
   background:none;
   text-decoration: none;
   color:var(--secondary);
}

.header .logo__name{
  font-size:2rem;
}

.header .signout__btn{
  background:var(--primary);
  border: none;
  color:var(--secondary);
  cursor: pointer;
}

.nav{
  background:var(--primary);
  width: 100%;
  padding:0.6rem 0;
  z-index: 1;
  position: fixed;
  bottom:0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.nav .nav-items{
 display: flex;
 align-items:center;
 justify-content: space-around;
 height:100%;
 width: 100%;
 margin:0;
 padding:0;
}

.nav .nav-item{
 list-style: none;
 color: var(--secondary);
}

.nav-link{
  text-decoration: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary);
  align-items: center;
  font-size: 0.8rem;
}

.nav-link .fas{
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.landing__page__container{
  padding:0 0.5rem;
  margin-bottom: 4rem;
  background: linear-gradient(190deg, var(--primary) 18%, var(--tertiary) 70%, var(--primary) 80%);
  animation: move-right 0.6s 1 ease-in;
}

@keyframes move-right{
   from {
     transform: translateX(-100%);
   }
   to{
     transform: translateX(0);
   }
}

.landing__page__headings{
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.landing__page__headings .seeall__btn{
  background: none;
  color: var(--secondary);
  border:none;
  cursor: pointer;
  margin-right: 1rem;
  font-weight: bold;
}

.thumbnail__link{
   text-decoration: none;
   color: var(--secondary);
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
  font-size:1.8rem !important;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-prev:after{
  font-size:1.8rem !important;
}

.fa-play-circle{
   font-size:2rem;
   color: var(--secondary);
}

.seeAllVideos__container{
   margin-bottom: 4rem;
   animation: move-right 0.6s 1 ease-in;
}

.seeAllVideos__container__header{
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem 0;
  color: var(--secondary);
}

.seeAllVideos__container__header .header__button{
  color: var(--secondary);
  background:var(--primary);
  border: none;
  font-size: 1.3rem;
  text-align: left;
  margin-left: 0.7rem;
  cursor: pointer;
}

.seeAllVideos__container .cards{
  display:grid;
  grid-gap:15px;
  justify-content: center;
  color: var(--secondary);
  grid-template-columns:repeat(auto-fill, 300px)
}

.seeAllVideos__container .cards .card{
  height:180px
}


@media (max-width: 640px){
  .seeAllVideos__container .cards{
    grid-template-columns:0.98fr;
  }
  
  .seeAllVideos__container{
    margin-bottom: 4.5rem;
 }

 .nav-link .fas{
  font-size: 1.1rem;
}

.header .logo__name{
  font-size: 1.6rem;
  margin-left: 1.4rem;
}
.logo-img{
  right: 100px;
  height: 38px;
}
}

.card__footer{
  display: flex;
  justify-content: space-between;
}

.primary-btn{
  background:none;
  padding: 0.3rem;
  border: 1px solid var(--secondary);
  border-radius:10px;
  color:var(--secondary);
  cursor: pointer;
}

.secondary-btn{
  background:var(--secondary);
  padding: 0.3rem;
  border: 1px solid var(--primary);
  border-radius:10px;
  color: var(--primary);
  cursor: pointer;
}

.playlist__container .create__btn{
  margin: 0.5rem;
}

.playlist__container__header{
  color: var(--secondary);
  text-align: center;
}

.modal{
  width:100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.playlist__input{
   border: none;
   background:transparent;
   border-bottom: 2px solid var(--secondary);
   color: var(--secondary);
   padding: 0.3rem;
}

.playlist__container .modal-header,.modal-body,.modal-footer{
  background-color: var(--secondary);
  color: var(--primary)
}

.modal-dismiss{
  padding: 0.1rem 0.4rem;
}

.playlist__container .invalid-feedback{
  display:block;
  text-align:center;
}

.playlist{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
}

.playlist__item{
   cursor: pointer;
   margin: 0.5rem;
   list-style: none;
   height: 100px;
   width: fit-content;
   padding:1rem;
   background:var(--secondary);
   color: var(--primary);
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   position: relative;
}

.playlist__item .deleteIcon{
  position: absolute;
  top: 5px;
  right: 5px;
}

.playlist__item__link{
  text-decoration: none;
  color: var(--secondary);
  background: var(--primary);
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 0.6rem;
}

/* Watch Video Page */

.watch__video__container{
   display: grid;
   grid-template-columns: 1.4fr 1fr;
   width: 100%;
   animation: move-right 0.6s 1 ease-in;
}

.watch__video__container .video__player{
  width:640px;
  height:330px;
}

.player-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.watch__video__container .left__section .video__card {
  width: 88%;
}

.watch__video__container .left__section{
  display: flex;
  flex-direction:column;
  padding-top: 1rem;
  padding-left: 0.5rem;
  width: 100%;
  align-items: flex-end;
}

.watch__video__container .video__title{
  margin-top:1rem;
  color:var(--secondary);
  font-weight: 500;
}

.watch__video__container .video__card__footer{
  color: var(--tertiary);
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.5px solid var(--tertiary);
}

.watch__video__container .video__card__footer__left{
  flex: 1;
}

.watch__video__container .video__card__footer__right{
  display: flex;
  align-items: center;
}

.video__card__footer__button{
  border:none;
  background: var(--primary);
  color: var(--tertiary);
  cursor: pointer;
  margin: 0 0.6rem;
  font-size: 1rem;
}

.video__card__footer__button__active{
  border:none;
  background: var(--primary);
  color: var(--active-color);
  cursor: pointer;
  margin: 0 0.6rem;
  font-size: 1rem;
}

.watch__video__container .right__section{
  display: flex;
  flex-direction:column;
  padding: 1rem;
}

.watch__video__container .right__section__heading{
   color: var(--secondary);
   margin-bottom: 0.5rem;
}

.watch__video__container .right__section .video__card{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 5px;
  margin: 0.3rem 0;
  color: var(--secondary);
}

.watch__video__container .right__section .video__card__content{
  display: flex;
  flex-direction: column;
}

.modal{
  color:var(--secondary);
  z-index: 2;
}

.modal__dialog__box{
   display: flex;
   flex-direction: column;
   align-items: center;
   background:var(--primary);
   width: 200px;
}

.modal .modal__header{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 1rem;
  width: 100%;
}

.modal .modal__content{
   display: flex;
   flex-direction: column;
   border-bottom:1px solid var(--tertiary);
   border-top:1px solid var(--tertiary);
   width: 100%;
   justify-content:center;
}

.modal .modal__content__item{
  display: flex;
  align-items:center;
  margin-left: 2rem;
}

.modal .modal__footer{
  display: flex;
  justify-content:space-around;
  align-items:center;
  padding: 1rem;
  width: 100%;
}

.modal .modal__footer__btn{
   background:transparent;
   border:none;
   color: var(--tertiary);
   cursor: pointer;
}

.modal .modal__dismiss__btn{
  background: var(--primary);
  color: var(--tertiary);
  cursor: pointer;
  border:none;
}

.modal .modal__dismiss__btn:hover{
  color: var(--secondary);
}

.modal .form__label{
  font-size:0.8rem;
  padding:0;
}

.modal .form__control{
  border: none;
  border-bottom: 1px solid var(--secondary);
  background: transparent;
  color: var(--secondary);
  padding:0.2rem;
}

.modal .form__control:focus{
  outline: none;
}

.modal .form__submit{
  background:transparent;
  border:none;
  color: #337AB6;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
}

 @media screen and (max-width:960px) {
  .watch__video__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;
  }

.watch__video__container .video__card__footer,.watch__video__container .video__title{
  padding-left: 0.3rem;
}

.watch__video__container .left__section .video__card {
   width: 100%;
}

.watch__video__container .left__section{
  padding-left: 0;
  padding-top: 0;
  align-items: flex-start;
  width: 100%;
}

}


@media (max-width:400px){
   .nav-link{
      font-size:0.8rem;
   }

   .nav-link .fas{
    font-size: 1rem;
  }
}

@media (max-width:359px){
  .nav-link{
    font-size:0.66rem;
  }
}

/* watch later */

.delete__btn{
  background:var(--primary);
  border:none;
  margin-right:0.5rem;
  padding: 0;
  color: var(--danger-color);
  font-size:1.1rem;
  cursor: pointer;
}


.route__not__found{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:70vh;
  font-size: 1rem;
  text-align: center;
  color:var(--danger-color);
  flex-direction: column;
}

.route__not__found .go__to__home__btn{
   cursor: pointer;
   margin-top: 0.5rem;
   background:var(--danger-color);
   color: var(--primary);
   border: none;
   padding:0.5rem 1rem;
   font-weight: 600;
   border-radius: 5px;
}

/* Spinner */


.spinner__container {
  display: flex;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center; 
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.spinner__container .circle1,.spinner__container .circle2,.spinner__container .circle3,.spinner__container .circle4{
  height: 10px;
  margin: 0 0.1rem;
  width: 10px;
  border-radius: 50%;
  background:var(--secondary);
}

.spinner__container .circle1{
  animation: 1s loader infinite;
}
.spinner__container .circle2{
  animation: 1s loader 0.2s infinite;
}
.spinner__container .circle3{
  animation: 1s loader 0.3s infinite;
}
.spinner__container .circle4{
  animation: 1s loader 0.4s infinite;
}

@keyframes loader{
 from{
   transform: translateY(0);
 }
 50%{
   transform: translateY(5px);
   background: var(--tertiary);
 }
 100%{
   transform: translateY(0);
 }
}

/* Toast */

.toast1{
  font-size:1.5rem;
}

.toast1 .fa-badge-check,.toast .fa-window-close{
  animation: tick 1s infinite ease-in-out;
}

/* my library page */
.mylibrary__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mylibrary__container .mylibrary__header{
  padding:1rem 0.8rem;
}

.mylibrary__container .header__button{
    color: var(--secondary);
  background:var(--primary);
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.mylibrary__container .profile{
   display:flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
}

.mylibrary__container .profile__avatar{
  border-radius: 50%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 1);
}

.mylibrary__container .profile__avatar__name{
  color: var(--secondary);
  font-weight: 700;
  margin: 1rem 0;
}

.mylibrary__container .edit__btn{
  padding: 0.3rem 0.9rem;
  background:var(--primary);
  color: var(--secondary);
  font-weight:700;
  border:1.5px solid var(--tertiary);
  border-radius:10px;
  font-size: 0.6rem;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.playlist__and__watchlater{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:1rem 0;
}

.playlist__and__watchlater .section{
   display:flex;
   font-weight: 100;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color:var(--secondary);
}

.playlist__btn,.watch__later__btn{
  color:var(--tertiary);
  background:var(--primary);
  border: none;
  margin-top: 0.2rem;
  font-size:0.7rem;
  cursor: pointer;
}
/* my library page */