.mylibrary__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mylibrary__container .mylibrary__header{
    padding:1rem 0.8rem;
  }
  
  .mylibrary__container .header__button{
      color: var(--secondary);
    background:var(--primary);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .mylibrary__container .profile{
     display:flex;
     flex-direction: column;
     align-items:center;
     justify-content: center;
  }
  
  .mylibrary__container .profile__avatar{
    border-radius: 50%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 1);
  }
  
  .mylibrary__container .profile__avatar__name{
    color: var(--secondary);
    font-weight: 700;
    margin: 1rem 0;
  }
  
  .mylibrary__container .edit__btn{
    padding: 0.3rem 0.9rem;
    background:var(--primary);
    color: var(--secondary);
    font-weight:700;
    border:1.5px solid var(--tertiary);
    border-radius:10px;
    font-size: 0.6rem;
    word-spacing: 1px;
    letter-spacing: 1px;
  }
  
  .playlist__and__watchlater{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:1rem 0;
  }
  
  .playlist__and__watchlater .section{
     display:flex;
     font-weight: 100;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color:var(--secondary);
  }
  
  .playlist__btn,.watch__later__btn{
    color:var(--tertiary);
    background:var(--primary);
    border: none;
    margin-top: 0.2rem;
    font-size:0.7rem;
    cursor: pointer;
  }